.container {
    margin: auto;
    border-radius: var(--lwc-borderRadiusMedium);
    background-color: white;
    position: relative;
}

.mission-header, .guild-name {
    color: black;
}

.mission-header {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: #d8dde6;
    margin: 1rem 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

.deadline-text {
    color: red;
}

.hide-button {
    display: none;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75); /* semi-transparent white background */
    z-index: 9999; /* Make sure it's on top of other content */
    display: flex;
    justify-content: center; /* Center spinner horizontally */
    align-items: center; /* Center spinner vertically */
}


